---
import { getCollection } from "astro:content";
import { BlueskyPost } from "@astro-community/astro-embed-bluesky";

const posts = await getCollection("bluesky");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Bluesky</title>
  </head>
  <body>
    <h1>Bluesky</h1>
    {
      posts
        .sort(
          (a, b) =>
            new Date(b.data.record.createdAt).getTime() -
            new Date(a.data.record.createdAt).getTime()
        )
        .map(async (post) => {
          return (
            <section>
              <BlueskyPost post={post.data} />
            </section>
          );
        })
    }
  </body>
</html>
