---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const releases = await getCollection("releases");
const episodes = await getCollection("podcasts");
// en-CA formats as yyyy-mm-dd
const formatter = new Intl.DateTimeFormat("en-CA", {
  year: "numeric",
  month: "2-digit",
  day: "2-digit",
});
---

<Layout title="Releases">
  <ul>
    {
      releases.map((release) => (
        <li>
          <a
            href={`/releases/${release.data.title?.replace(/\W/g, "-").toLowerCase()}`}
          >
            {release.data.title}
          </a>
        </li>
      ))
    }
  </ul>
  <h2>Episodes</h2>
  <ul>
    {
      episodes.map((episode) => (
        <li>
          <a href={`/episodes/${formatter.format(episode.data.date!)}`}>
            {episode.data.title}
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
